.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 79px 109px;
}
.navbar > span {
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.navbar .navbar-links {
    display: flex;
    gap: 57px;
}
.navbar .navbar-links a {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
