.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 190px 0;
  width: 100%;
  gap: 71px;
}
.portfolio h2 {
  color: #fff;
  font-family: Playfair Display;
  font-size: 81.308px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.portfolio .portfolio-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 74px;
}
.img-left{
    width: 577.088px;
    display: flex;
    flex-direction: column;
    gap: 78px;
}
.img-right{
    width: 577.088px;
    display: flex;
    flex-direction: column;
    gap: 78px;
}